<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        
          <ion-list>
            <ion-item *ngFor = "let item of profiledata| async">
              <h2>Account number: {{item.account_number}}</h2>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item *ngFor = "let item of profiledata| async">
              <h2>Balance: {{item.amount + 100}} </h2>
            </ion-item>
          </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
